.icon-location{
    color: rgb(228, 11, 11);
}
.title-location{
    font-size: 12px;
    color: rgb(112, 110, 110);
}
.img-flash-sale{
    border-radius: 10px;
}
.card-flash-sale{
    border-radius: 10px;
    /* border: none; */
}
.title-flash-sale{
    font-weight: 500;
    color: black;
}

@media screen and (max-width: 500px) {
    .img-flash-sale{
        height: 180px;
    }
}